<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class="form-group mx-sm-3 mb-2">
        <label>Data : </label>
        <input #data="ngModel" required type="text" [(ngModel)]='entredData' class="form-control">
        <label style="color: red" id="labelError" style="display: none">
          Data is required
        </label>
      </div>


   <br>

      <div class='table-responsive'>
        <table class='table' *ngIf='AttributesList.length'>
          <thead>
            <tr>
  
              <th>Name</th>
              <th>Value</th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of Result'>
  
              <td> {{item.name|titlecase}} </td>
              <td> {{item.value}} </td>
             
  
            </tr>
          </tbody>
        </table>
      </div>


   
     
      </div>

    
    <div class="card-footer">

      <button class="btn btn-outline-secondary" style="float: right" (click)="Read(data.invalid)">
        Read
      </button>


    </div>

  </div>
</div>
<router-outlet></router-outlet>