<!--The content below is only a placeholder and can be replaced.-->
<div class="container"> 

<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class="form-group mx-sm-3 mb-2">
      <label>Data : </label>
      <input #data="ngModel" required type="text" [(ngModel)]='mydata' class="form-control">
      <label *ngIf="data.invalid" style="color: red">
        Data is required 
      </label>
    </div>
  

    <hr>

<div class='table-responsive'>
      <table class='table' *ngIf='List.length'>
        <thead>
          <tr>

       <th *ngFor='let product of List'>{{product.name}}</th>
    


          </tr>
        </thead>
        <tbody>
          

        
        </tbody>
      </table>
    </div>

    

  </div>

  <div class="card-footer">

    <button class="btn btn-outline-secondary" style="float: right" (click)="Read(data.invalid)">
      Read
</button>

 
  </div>

</div>
</div>
<router-outlet></router-outlet>